$primary-green: #25D366;
$primary-green-dark: #0fad79;
$background-white: rgb(255, 255, 255);
$chat-green: linear-gradient(to right , #2ebf91, #60a4c3);
$bubble-green: linear-gradient(to right , #3dcfe9, #60a4c3);
$animated-gradient:linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
$animated-gradient2:linear-gradient(-45deg, #2ebf91, #3cf0c5, #60a4c3, #338aff);