$primary-green: var(--primary-green);
$primary-green-dark: var(--primary-green-dark);
$background-white: var(--background);
$chat-green: linear-gradient(to right , #2ebf91, #60a4c3);
$bubble-green: linear-gradient(to right , #3dcfe9, #60a4c3);
$animated-gradient:linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
$animated-gradient2:linear-gradient(-45deg, #2ebf91, #3cf0c5, #60a4c3, #338aff);
$chat-background: url('../../img/whatsapp.jpg');
