@import '../variables.scss';
@import "~@fontsource/pt-sans/index.css";

$border-width: -4px;

.sidebar{
    flex: .35;
    width: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--background);
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.3);

    &-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;

        &-user-details{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'PT Sans';
            h1{
                font-size: 4rem;
                text-transform: capitalize;
                letter-spacing: .2rem;
                margin: 1rem 0rem;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: $animated-gradient2;
                background-size: 600%;
                animation: gradient 16s linear infinite;
            }
            
            h2{
                font-size: 2rem;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 100;
                margin: 1rem 0rem;
                color: var(--text);
            }

        }
    }

    &-button{
        &-icon{
            color:var(--primary-green);
            margin: 1rem 2rem;
        }
    }

    &-avatar{
        box-sizing: content-box;
        background-size: contain;
        cursor: pointer;
        margin: 2rem 0rem;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        z-index: 2;
        border: 4px solid var(--primary-green);
        box-shadow: 2px 2px 1px rgba($color: #000000, $alpha: 0.2);
    }
    
    &-input{
        margin: 0 auto;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 2rem;
        border-radius: 10rem;
        flex: 1;
        background: var(--search-bar-backround);
        margin-top: 2rem;
        box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.2);
       

        input{
            width: 100%;
            margin-left: .5rem;
            outline: none;
            background: none;
            border: none;
        }
    }
    .icon-buttons{
        margin: 1rem;
    }
    &-chats{
        width: 100%;
        overflow: auto;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}

.user-uid{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p{
        font-size: 1.5rem;
        color: var(--text);
    }
    h3 {
    margin-left: 1rem;
    color: var(--text-2);
    background: var(--primary-green-dark);
    padding: .6rem 1rem;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    border-radius: 1rem;
    }
}

/* -------Animation Here---------- */

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 0%;
    }

    100%{
        background-position: 0% 50%;
    }
}