@import '../variables.scss';


.text{
    display: flex;
    padding: 1rem 2rem;
    position: relative;
    margin: 1rem ;
    width: fit-content;
    flex-direction: row;
    &-photo{
        margin: 1rem 1rem 0rem 0rem;
        order: 0;
        justify-content: baseline;
        align-items: baseline;

    }
    &-message{
        box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: .2);
        display: inline-block;
        background: rgb(243, 243, 243);
        padding: 1rem 1rem;
        font-size: 1.5rem;
        border-radius: 1.2rem 1.2rem 1.2rem 0rem;
    }
    small{
        position: absolute;
        top: 100%;
    }
    
}

.user{
     margin-left: auto;
   .text{
       &-photo{
        order: 1;
        margin: 1rem 0rem 0rem 1rem;
    }
    &-message{
       
        background: $chat-green;
        color: aliceblue;
        border-radius: 1.2rem 1.2rem 0rem 1.2rem;
    }
   }
   
}